@font-face {
  font-family: "Inter400";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/_.ttf");
}
@font-face {
  font-family: "Inter600";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/_.ttf");
}
@font-face {
  font-family: "Inter700";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/_.ttf");
}
@font-face {
  font-family: "Sansation700";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/_.ttf");
}
